body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  /*font-family: 'Source Code Pro', monospace;*/
  /*font-family: 'Ubuntu Mono', monospace;*/
  /*font-family: 'Overpass Mono', monospace;*/
  /*font-family: 'Anonymous Pro', monospace;*/
  /*font-family: 'Cutive Mono', monospace;*/
  /*font-family: 'Roboto Mono', monospace;*/
  /*font-family: 'Oxygen Mono', monospace;*/
  font-family: 'IBM Plex Mono', monospace;
  color: #3e3e3e;
}

.ui.basic.label {
  min-width: 80% !important;
  background: none #e6e6e6 !important;
}

/*.ui.input>input {
  max-width: 20% !important;
  background-color: #f9f9f9 !important;
}*/

/*.ui.input>input {
  max-width: 20% !important;
  background-color: #f9f9f9 !important;
}*/
.filterInput>input {
  max-width: 20% !important;
  background-color: #f9f9f9 !important;
  font-size: 0.9rem !important;
  padding: 0px !important;
}

.filterInput {
  border-left: 4px solid #f9f9f9 !important;
  border-right: 4px solid #f9f9f9 !important;
}

/*.ui.menu .item {
  padding: 0px !important;
}*/

.ui.input>input {
  border-radius: 0px !important;
}

.ui.label {
  border-radius: 0px !important;
}

.ui.icon.menu .item {
  text-align: left !important;
}

.ui.header {
	margin-top: 0.5rem !important;
	margin-bottom: 0.5rem !important;
}

.ui.segment, .ui.segments .segment {
  font-size: 0.9rem !important;
}

.pushable>.pusher {
	min-height: 1900px !important;
}

.ui.mini.input.filterInput {
  min-width: 100% !important;
}

.ui.large.input {
  min-width: 100% !important;
}

.ui.fluid.input>input {
  /*max-width: 100% !important;*/
}

.ui.table {
    font-size: 0.75em !important;
}

.ui.table thead th {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.ui[class*="very compact"].table td {
    padding: 0.2rem !important;
}

.ui[class*="very compact"].table td.inputCell {
    padding: 0px !important;
}

.ui.labeled.input>.label {
  font-size: 1.1em !important;
}

.loginDropdown {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.textUser {
  padding-right: 1rem !important;
}

.clearTopBorder {
  border-top: 0px !important;
  border-bottom: 0px !important;
}

.ui.tabular.menu {
  min-height: 3.3rem !important;
}

.leftColumn {
  max-width:  16rem !important;
}

.middleColumn {
  flex-grow: 1 !important;
}

.rightColumn {
  min-width:  20rem !important;
}

tr.resultRow:hover {
  background-color: #f1f1f1 !important; 
}

.ui.mini.input.rowInput>input {
  /*max-width: 100% !important;*/
  max-width: 4rem !important;
  /*line-height: 1.5rem !important;*/
  padding: 0px !important;
  border: 1px solid #f9f9f9 !important;
  font-size: 1.1rem;
}

.ui.mini.input.rowInput>input:focus {
  border: 1px solid #85b7d9 !important;
}

.ui.mini.input.rowInput {
  /*max-width: 100% !important;*/
  width: 4rem !important;
}

.inputCell {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-bottom: 0px !important;
}

.rowButton {
  /*width: 25%;
  background-color: #56e469;
  border: 1px solid #ffffff00;
  border-radius: 2px;
  height: 1.4rem;
  padding: 0px;*/
  position: absolute !important;
  height: 100% !important;
  padding-top: 0.4rem !important;
}
/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}
 
input[type="number"] {
    -moz-appearance: textfield !important;
}

.activeStyle {
  border-left: 4px solid #44e674 !important;
}

.rowEditContainer {
  position: relative !important;
}

.ReactTable .rt-thead .rt-th.-cursor-pointer, .ReactTable .rt-thead .rt-td.-cursor-pointer:focus {
  outline: none !important;
}
/*.ui.menu {
  font-family: 'Source Code Pro', monospace !important;
  font-size: 1.1rem;
  min-height: 1.2rem !important;
}*/

/*.ui.menu .item {
  padding: 0.7rem !important;
}

.ui.inverted.menu .item:hover {
  background: rgb(249, 104, 94) !important;
  color: black !important;
}

.ui.inverted.menu .active.item {
  background: rgb(249, 104, 94) !important;
  color: black !important;
}*/

.current {
  padding: 1rem;
  color: white;
  background-color: red; 
}

.notCurrent {
  padding: 1rem;
  color: black;
  background-color: blue; 
}

/*.topmenuitem {
  padding: 1rem !important;
}*/

.ReactTable .rt-thead {
  background: -webkit-linear-gradient(left, #ffffff 1%, #f3f3f3 50%, #ffffff 100%) !important;
  font-size: 0.85rem !important;
}

.ui.dropdown .menu {
    max-height: 50rem !important;
}

.ui.fluid.dropdown {
  max-height: 38px !important;
}